<app-breadcrumb [breadcrumb]="breadcrumbObject"></app-breadcrumb>

<div>
    <mat-card class="mb-25 imako-card">
        <mat-card-header>
            <h3 class="mb-0">{{ "FormApropos.BODY_TITLE" | translate }}</h3>
            <div class="d-flex justify-content-between align-items-center">
                <div class="spacer">
                    <button (click)="exportExcel()" mat-flat-button class="gray">
                        <i class="ri-file-excel-2-fill"></i>
                        {{ "GeneralStrings.LABEL_EXPORT" | translate }}
                    </button>
                </div>
                <div class="spacer">
                    <button (click)="getAproposAll()" mat-flat-button class="p-button-dark">
                        <i class="ri-refresh-fill"></i>
                        {{ "GeneralStrings.LABEL_REFRESH" | translate }}
                    </button>
                </div>
                <div>
                    <input type="text" (input)="onInputChange($event)" class="input-control"
                        [placeholder]="'GeneralStrings.PLACEHOLDER_SEARCH' | translate" />
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div>
                <button (click)="openDialogApropos('add', null)" mat-flat-button class="imako">
                    <i class="ri-add-fill"></i>
                    {{ "FormApropos.TITLE_MODAL.STORE" | translate }}
                </button>
            </div>
            <!-- <ng-container *ngIf="listApropos && listApropos?.length > 0; else skeletonLoader"></ng-container> -->
            <div class="row mt-3">
                <p-table #dt [value]="listApropos" [rows]="10" responsiveLayout="scroll" [showCurrentPageReport]="true"
                    [globalFilterFields]="globalFilterFieldsObject" styleClass="p-datatable-gridlines" [rowHover]="true"
                    dataKey="id" currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords} données">
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <ng-container *ngFor="let col of columns">
                                <th [pSortableColumn]="col.field" scope="col" [ngClass]="{'text-center': col.isCenter}">
                                    {{ col.header | translate }}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </ng-container>
                            <th class="text-center">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-i="rowIndex" let-apropos>
                        <tr>
                            <td class="text-center">{{ i + 1 }}</td>
                            <ng-container *ngFor="let col of columns">
                                <ng-container *ngIf="col.isText">
                                    <td [class.text-center]="col.isCenter">{{ getCellValue(col.field, apropos) }}</td>
                                </ng-container>
                            </ng-container>
                            <td class="text-center">
                                <button (click)="openDialogApropos('edit', apropos)" pButton icon="pi pi-pencil"
                                    class="p-button-secondary"></button>
                                &nbsp;
                                <p-button (click)="handleDeleteApropos(apropos)" styleClass="p-button-danger"
                                    icon="pi pi-trash">
                                </p-button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr *ngIf="listApropos?.length <= 0 && !spinner">
                            <td class="text-center" colspan="15">
                                <span>
                                    {{ "GeneralStrings.NO_DATA" | translate }}
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="spinner">
                            <td class="text-center" colspan="15">
                                <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- <app-paggination [totalRecords]="totalRecords" [rows]="rows"
                    (pageChange)="onPageChange()"></app-paggination> -->
            </div>
        </mat-card-content>
    </mat-card>

</div>