<app-breadcrumb [breadcrumb]="breadcrumbObject"></app-breadcrumb>
<div>
  <mat-card class="mb-25 imako-card">
    <mat-card-header>
      <h3 class="mb-0">{{ "ACCOUNTING.BODY_TITLE" | translate }}</h3>
      <div class="d-flex justify-content-between align-items-center">
        <div class="spacer">
          <button (click)="exportExcel()" mat-flat-button class="gray">
            <i class="ri-file-excel-2-fill"></i>
            {{ "GeneralStrings.LABEL_EXPORT" | translate }}
          </button>
        </div>
        <div class="spacer">
          <button (click)="loadAllRecharge()" mat-flat-button class="imako">
            <i class="ri-refresh-fill"></i>
            {{ "GeneralStrings.LABEL_REFRESH" | translate }}
          </button>
        </div>
        <div>
          <input
            type="text"
            (input)="onInputChange($event)"
            class="input-control"
            [placeholder]="'GeneralStrings.PLACEHOLDER_SEARCH' | translate"
          />
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div
        class="item"
        *ngIf="
          listRecharge && listRecharge?.length > 0;
          else skeletonLoader
        "
      >
        
        <div class="row mt-3">
          <p-table
            #dt
            [value]="listRecharge"
            [rows]="10"
            responsiveLayout="scroll"
            [globalFilterFields]="globalFilterFieldsObject"
            styleClass="p-datatable-gridlines"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords} données"
            [showCurrentPageReport]="true"
          >
            <ng-template pTemplate="header">
              <tr>
                <th scope="col" class="text-center">#</th>
                <ng-container *ngFor="let col of columns">
                  <th [pSortableColumn]="col.field" scope="col">
                    {{ col.header | translate }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                </ng-container>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-AccountingMode>
              <tr>
                <td class="text-center">{{ i + 1 }}</td>
                <ng-container *ngFor="let col of columns">
                  <ng-container *ngIf="col.isText">
                    <td [class.text-center]="col.isCenter">
                      {{ getCellValue(col.field, AccountingMode) }}
                    </td>
                  </ng-container>
                  <ng-container *ngIf="col.isBadge">
                    <td [class.text-center]="col.isCenter">
                      <span [ngSwitch]="AccountingMode.status">
                        <span *ngSwitchCase="'failed'" class="badge inactive">
                          {{ translateStatus(AccountingMode.status) }}
                        </span>
                        <span *ngSwitchCase="'succeeded'" class="badge active">
                          {{ translateStatus(AccountingMode.status) }}
                        </span>
                        <span *ngSwitchCase="'pending'" class="badge warning">
                          {{ translateStatus(AccountingMode.status) }}
                        </span>
                      </span>
                    </td>
                </ng-container>
                </ng-container>
                
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr *ngIf="listRecharge?.length <= 0">
                <td class="text-center" colspan="15">
                  <span>
                    {{ "GeneralStrings.NO_DATA" | translate }}
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <app-paggination [totalRecords]="totalRecords" [rows]="rows"
            (pageChange)="onPageChange($event)"></app-paggination>
        </div>
      </div>
      <ng-template #skeletonLoader>
        <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
