<app-breadcrumb [breadcrumb]="breadcrumbObject"></app-breadcrumb>

<mat-card class="mb-25 imako-card">
    <mat-card-header>
        <h3 class="mb-0">{{ getTitleForm() | translate }}</h3>
        <div class="d-flex justify-content-between align-items-center">
            <div class="spacer">
                <button (click)="closeInterface()" mat-flat-button class="close-btn">
                    <i class="ri-close-fill"></i>
                    {{ "GeneralStrings.LABEL_CLOSE" | translate }}
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        
    <ng-container>
        <app-reusable-form-artists [view]="view" [page]="page" [id]="id" [filter]="filter" [artistSelected]="artistSelected"></app-reusable-form-artists>
    </ng-container>

    <ng-template #skeletonLoader>
        <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
    </ng-template>

    </mat-card-content>
</mat-card>