<ngx-loading
  [show]="loading"
  [config]="{
    animationType: ngxLoadingAnimationTypes.circle,
    primaryColour: primaryColour,
    secondaryColour: secondaryColour,
    backdropBorderRadius: '5px',
  }"
>
</ngx-loading>
<div class="imako__heading pd-btm-20">
  <h3 class="imako__form-title imako__form-title__one m-0">
    {{ "FORGOT_PASSWORD.TITLE" | translate }}
  </h3>
</div>
<form class="imako__form-main" [formGroup]="form">
  <div *ngFor="let input of formInputs" class="form-group">
    <label for="{{ input.name }}"
      ><strong>{{ input.label | translate }}</strong
      ><span *ngIf="input.required" class="text-danger">*</span></label
    >
    <div class="form-group__input">
      <input
        class="imako__form-input"
        type="{{ input.type }}"
        name="{{ input.name }}"
        [formControlName]="input.name"
        [placeholder]="input.placeholder | translate"
        required="{{ input.required }}"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="imako__check-inline">
      <div class="imako__forgot pos-right">
        <a routerLink="/auth/sign-in" class="forgot-pass cursor-pointer"
          ><u>{{ "FORGOT_PASSWORD.LABEL_SIGNIN" | translate }}</u></a
        >
      </div>
    </div>
  </div>
  <div class="form-group mg-top-30">
    <div class="imako__button">
      <button
        class="imako__btn"
        (click)="resetPassword()"
        [disabled]="!form.get('email').value"
      >
        {{ "FORGOT_PASSWORD.LABEL_BTN_FORGOT_PASSWORD" | translate }}
      </button>
    </div>
  </div>
</form>
