<app-breadcrumb [breadcrumb]="breadcrumbObject"></app-breadcrumb>

<div>
    <mat-card class="mb-25 imako-card">
        <mat-card-header>
            <h3 class="mb-0">{{ "FormEvenementiel.BODY_TITLE" | translate }}</h3>
            <div class="d-flex justify-content-between align-items-center">
                <div class="spacer">
                    <button (click)="exportExcel()" mat-flat-button class="gray">
                        <i class="ri-file-excel-2-fill"></i>
                        {{ "GeneralStrings.LABEL_EXPORT" | translate }}
                    </button>
                </div>
                <div class="spacer">
                    <button (click)="getEvenementielsAll()" mat-flat-button class="p-button-dark">
                        <i class="ri-refresh-fill"></i>
                        {{ "GeneralStrings.LABEL_REFRESH" | translate }}
                    </button>
                </div>
                <div>
                    <input type="text" (input)="onInputChange($event)" class="input-control"
                        [placeholder]="'GeneralStrings.PLACEHOLDER_SEARCH' | translate" />
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div>
                <button (click)="navigateByUrl({ data: null, paramUrl: 'ajouter' })" mat-flat-button class="imako">
                    <i class="ri-add-fill"></i>
                    {{ "FormEvenementiel.TITLE_MODAL.STORE" | translate }}
                </button>
            </div>
            
            <!-- <ng-container *ngIf="listEvenementiels && listEvenementiels?.length > 0; else skeletonLoader"></ng-container> -->

                <div class="row mt-3">
                    <p-table #dt [value]="listEvenementiels" [rows]="10" responsiveLayout="scroll"
                        [globalFilterFields]="globalFilterFieldsObject" styleClass="p-datatable-gridlines"
                        [rowHover]="true" dataKey="id" selectionMode="single" [(selection)]="selectedEvenementiel"
                        currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords} données"
                        [showCurrentPageReport]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <ng-container *ngFor="let col of columns">
                                    <th [pSortableColumn]="col.field" scope="col"
                                        [ngClass]="{'text-center': col.isCenter}">
                                        {{ col.header | translate }}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </ng-container>
                                <th class="text-center">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-i="rowIndex" let-evenementiel>
                            <tr>
                                <td class="text-center">{{ i + 1 }}</td>
                                <ng-container *ngFor="let col of columns">
                                    <ng-container *ngIf="col.isText">
                                        <td [class.text-center]="col.isCenter">{{ getCellValue(col?.field, evenementiel) }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.isBadge">
                                        <td [class.text-center]="col?.isCenter">
                                          <span [ngSwitch]="evenementiel?.status">
                                            <span *ngSwitchCase="'failed'" class="badge inactive">
                                              {{ translateStatus(evenementiel?.status) }}
                                            </span>
                                            <span *ngSwitchCase="'succeeded'" class="badge active">
                                              {{ translateStatus(evenementiel?.status) }}
                                            </span>
                                            <span *ngSwitchCase="'pending'" class="badge warning">
                                              {{ translateStatus(evenementiel?.status) }}
                                            </span>
                                          </span>
                                        </td>
                                    </ng-container>
                                </ng-container>
                                <td class="text-center">
                                    <div class="spacer">
                                        <p-button
                                                (click)="navigateByUrl(navigateByUrl({ data: evenementiel, paramUrl: 'détails' }))"
                                                styleClass="p-button-info" icon="pi pi-eye">
                                        </p-button>
                                        &nbsp;
                                        <p-button
                                                (click)="navigateByUrl({ data: evenementiel, paramUrl: 'editer' })"
                                                styleClass="p-button-dark" icon="pi pi-pencil">
                                        </p-button>
                                        
                                        &nbsp;
                                        <p-button
                                                (click)="handleUpdateStatus(evenementiel)"
                                                styleClass="p-button-secondary" [icon]="evenementiel?.status === 'active' ? 'pi pi-lock' : 'pi pi-lock-open'">
                                        </p-button>
                                        &nbsp;
                                        <p-button
                                                (click)="handleDelete(evenementiel)"
                                                styleClass="p-button-danger" icon="pi pi-trash">
                                        </p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr *ngIf="listEvenementiels?.length <= 0 && !spinner">
                                <td class="text-center" colspan="15">
                                    <span>
                                        {{ "GeneralStrings.NO_DATA" | translate }}
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="spinner">
                                <td class="text-center" colspan="15">
                                    <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            <!-- <ng-template #skeletonLoader>
                <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
            </ng-template> -->
        </mat-card-content>
    </mat-card>

</div>