<ngx-loading
  [show]="loading"
  [config]="{
    animationType: ngxLoadingAnimationTypes.circle,
    primaryColour: primaryColour,
    secondaryColour: secondaryColour,
    backdropBorderRadius: '5px',
  }"
>
</ngx-loading>

<div class="create-dialog-box scrollable-dialog">
  <div class="title d-flex align-items-center justify-content-space-between">
    <h4 class="mb-0">
      {{
        data?.type === "add"
          ? ("FormCategory.TITLE_MODAL.STORE" | translate)
          : ("FormCategory.TITLE_MODAL.UPDATE" | translate)
      }}
    </h4>
    <button
      class="close-btn bg-transparent p-0 border-none"
      (click)="closeModal()"
    >
      <i class="flaticon-close"></i>
    </button>
  </div>
  <form [formGroup]="form" *ngIf="form">
    <div class="row">
      <div *ngFor="let input of formInputs" class="col-md-{{ input?.column }}">
        <div class="form-group">
          <label for="{{ input?.name }}">
            <strong>{{ input?.label | translate }}</strong>
            <span *ngIf="input?.required" class="text-danger">*</span>
          </label>
          <br />
          <ng-container *ngIf="input?.type !== 'select'">
            <input
              name="{{ input?.name }}"
              formControlName="{{ input?.name }}"
              [placeholder]="input?.placeholder | translate"
              type="{{ input?.type }}"
              class="input-control"
              (change)="handleFileInput($event)"
            />
            
          </ng-container>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button type="button" mat-flat-button class="gray" (click)="closeModal()">
        <i class="ri-close-fill"></i>
        {{ "GeneralStrings.LABEL_CLOSE" | translate }}
      </button>
      <button
        type="button"
        mat-flat-button
        class="imako ml-2"
        [disabled]="!form.valid"
        (click)="
          data?.type === 'add' ? storeCampaignsCategoryMode() : updateCampaignsCategoryMode()
        "
      >
        <i
          [ngClass]="{
            'ri-add-fill': data.type === 'add',
            'ri-pencil-line': data.type !== 'add',
          }"
        ></i>
        {{
          data?.type === "add"
            ? ("GeneralStrings.LABEL_SAVE" | translate)
            : ("GeneralStrings.LABEL_EDIT" | translate)
        }}
      </button>
    </div>
  </form>
</div>
