<app-breadcrumb [breadcrumb]="breadcrumbObject"></app-breadcrumb>
<div>
    <mat-card class="mb-25 imako-card">
        <mat-card-header>
            <h3 class="mb-0">{{ "FormUser.BODY_TITLE" | translate }}</h3>
            <div class="d-flex justify-content-between align-items-center">
                <div class="spacer">
                    <button (click)="exportExcel()" mat-flat-button class="gray">
                        <i class="ri-file-excel-2-fill"></i>
                        {{ "GeneralStrings.LABEL_EXPORT" | translate }}
                    </button>
                </div>
                <div class="spacer">
                    <button (click)="loadAllUsers()" mat-flat-button class="p-button-dark">
                        <i class="ri-refresh-fill"></i>
                        {{ "GeneralStrings.LABEL_REFRESH" | translate }}
                    </button>
                </div>
                <div>
                    <input
                            type="text"
                            (input)="onInputChange($event)"
                            class="input-control"
                            [placeholder]="'GeneralStrings.PLACEHOLDER_SEARCH' | translate"
                    />
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div>
                <button
                        (click)="openDialogUser('add', null)"
                        mat-flat-button
                        class="imako"
                >
                    <i class="ri-add-fill"></i>
                    {{ "FormUser.TITLE_MODAL.STORE" | translate }}
                </button>
            </div>
            <div class="item" *ngIf="listUser && listUser?.length > 0; else skeletonLoader">

                <div class="row mt-3">
                    <p-table #dt [value]="listUser" [rows]="10" responsiveLayout="scroll"
                             [globalFilterFields]="globalFilterFieldsObject" styleClass="p-datatable-gridlines" [rowHover]="true"
                             dataKey="id" currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords} données"
                             [showCurrentPageReport]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <ng-container *ngFor="let col of columns">
                                    <th [pSortableColumn]="col.field" scope="col" [ngClass]="{'text-center': col.isCenter}">
                                        {{ col.header | translate }}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </ng-container>
                                <th class="text-center">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-i="rowIndex" let-user>
                            <tr>
                                <td class="text-center">{{ i + 1 }}</td>
                                <ng-container *ngFor="let col of columns">
                                    <ng-container *ngIf="col.isText">
                                        <td [class.text-center]="col.isCenter">{{ getCellValue(col.field, user) }}</td>
                                    </ng-container>
                                    <ng-container *ngIf="col.isBadge">
                                        <td [class.text-center]="col.isCenter">
                                <span [ngSwitch]="user.status">
                                  <span *ngSwitchCase="'inactive'" class="badge inactive">
                                    {{ translateStatus(user.status) }}
                                  </span>
                                  <span *ngSwitchCase="'active'" class="badge active">
                                    {{ translateStatus(user.status) }}
                                  </span>
                                </span>
                                        </td>
                                    </ng-container>
                                </ng-container>
                                <td class="text-center">
                                    <div class="spacer">
                                        <p-button
                                                (click)="handleUpdateStatus(user)"
                                                styleClass="p-button-secondary" [icon]="user.status === 'active' ? 'pi pi-lock' : 'pi pi-lock-open'">
                                        </p-button>
                                        &nbsp;
                                        <p-button
                                                (click)="handleDeleteUser(user)"
                                                styleClass="p-button-danger" icon="pi pi-trash">
                                        </p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr *ngIf="listUser?.length <= 0">
                                <td class="text-center" colspan="15">
                                  <span>
                                    {{ "GeneralStrings.NO_DATA" | translate }}
                                  </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <app-paggination [totalRecords]="totalRecords" [rows]="rows"
                                     (pageChange)="onPageChange()"></app-paggination>
                </div>
            </div>
            <ng-template #skeletonLoader>
                <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
            </ng-template>
        </mat-card-content>
    </mat-card>

</div>
